<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${msg}"></h2>
<form class="form-login" th:action="@{/books/create}" th:object="${book}" method="POST" >
    <h2 >Book Title</h2>
    <input type="text" th:field="*{name}"  placeholder="Name"/>
    <input type="text" th:field="*{author}"  placeholder="Author"/>
    <input type="text" th:field="*{publication}"  placeholder="Publication"/>
    <input type="text" th:field="*{price}"  placeholder="Price"/>
    <input type="text" th:field="*{pages}"   placeholder="Page"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>